apiVersion: v1
kind: Service
metadata:
  name: integration-service
  namespace: wms-system
  labels:
    app: integration-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8086
      protocol: TCP
      name: http
  selector:
    app: integration-service

