apiVersion: v1
kind: Service
metadata:
  name: location-management-service
  namespace: wms-system
  labels:
    app: location-management-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: location-management-service

