apiVersion: v1
kind: Service
metadata:
  name: reconciliation-service
  namespace: wms-system
  labels:
    app: reconciliation-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8085
      protocol: TCP
      name: http
  selector:
    app: reconciliation-service

